body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B2A5FF;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: black;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #563A9C;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #A294F9;
}

#results {
    margin-top: 20px;
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.result-item h3 {
    margin: 0;
}

.result-item p {
    margin: 5px 0;
}
